:root {
  --vp-nav-logo-height: 12px;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(150deg, #315eff 10%, #fa00ff);
  --vp-c-brand-1: #6635fe;
  --vp-c-brand-2: #885aff;
  --vp-c-brand-3: #6635fe;
  --vp-c-gray-soft: rgba(101, 117, 133, 0.08);
}

@media (max-width: 768px) {
  :root {
    --vp-sidebar-bg-color: transparent;
  }
}

.VPHome .VPHero {
  @media screen and (min-width: 640px) {
    padding-bottom: 120px;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .text {
      max-width: 900px;
    }

    .actions {
      justify-content: center;
    }
  }
}

.VPNav {
  .VPNavBarTitle {
    background-color: var(--vp-c-bg);
  }
}
